Material/Git_für_Einsteiger.pdf
projekt_quiz/fragen.py
projekt_quiz/fragen_mapping.py
projekt_quiz/fragen_mapped.json
uebungen/python-exercise-dictionaries-main/run_tests.bat
uebungen/python-exercise-dictionaries-main/run_tests.sh
.gitignore
uebungen/python-exercise-dictionaries-main/.vscode/settings.json
uebungen/python-exercise-dictionaries-main/src/__init__.py
uebungen/python-exercise-dictionaries-main/tests/__init__.py
uebungen/python-exercise-dictionaries-main/src/main.py
uebungen/python-exercise-dictionaries-main/tests/test_main.py
uebungen/python-exercise-lists-main/run_tests.bat
uebungen/python-exercise-lists-main/src/__init__.py
uebungen/python-exercise-lists-main/tests/__init__.py
uebungen/python-exercise-lists-main/tests/test_main.py
uebungen/python-exercise-lists-main/run_tests.sh
uebungen/python-exercise-lists-main/src/main.py
uebungen/.vscode/settings.json
projekt_quiz/__pycache__/fragen_laden.cpython-313.pyc
uebungen/python-exercise-files-main/tests/test_main.py
uebungen/python-exercise-files-main/exercise.py
uebungen/python-exercise-files-main/run_tests.bat
uebungen/python-exercise-files-main/run_tests.sh
uebungen/python-exercise-files-main/.vscode/settings.json
uebungen/python-exercise-files-main/src/__init__.py
.gitignore
.gitignore
.vscode/settings.json
uebungen/python-exercise-files-main/src/mitarbeiter.csv
uebungen/python-exercise-files-main/tests/__init__.py
